<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Week8</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <main>
        <div class="add-user-no" id="add-user">
            <div class="popup" id="popup">
                <div class="top-section" id="top-section">

                </div>
                <div class="bottom-section" id="bottom-section">
                    <form action="/create" method="POST" class="form-add" id="form-add">
                        <div class="label" id="label">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div class="label" id="label">
                            <label for="role">User Role</label>
                            <input type="text" id="role" name="role" required>
                        </div>
                        <div class="label" id="label">
                            <label for="status">isActive</label>
                            <input type="checkbox" id="status" name="status" required>
                        </div>
                        <div class="label" id="label">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <div class="create-user-btn" id="create-user-btn">
            <button class="create-btn" id="create-btn">Add New User</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th><i class="fa-solid fa-square-check" style="color: #ffffff;"></i></th>
                    <th>USER</th>
                    <th>USER ROLE</th>
                    <th>STATUS</th>
                    <th>SOCIAL PROFILE</th>
                    <th>PROMOTE</th>
                    <th>RATING</th>
                    <th>LAST LOGIN</th>
                    <th></th>
                </tr>
            </thead>






            </tbody>
        </table>

        

        <div class="footer" id="footer">


            <div class="page-navigation" id="page-navigation">
            </div>
        </div>
    </main>
    <script src="https://kit.fontawesome.com/9125c408bc.js" crossorigin="anonymous"></script>
    <script type="module" src="index.js"></script>
</body>
</html>